* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Verdana", sans-serif;
  overflow: hidden;
}

// * {
//   outline: 1px solid #f00 !important;
// }

@mixin flexIt($dir: column, $justCont: center, $alignIt: center) {
  display: flex;
  justify-content: $justCont;
  align-items: $alignIt;
  flex-direction: $dir;
}

@mixin centerDiv () {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin for-phone {
  @media (max-width: 500px) { @content; }
}